input[type="number"]{
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;

    border: none;

    background-color: rgb(115, 218, 187);
}

input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

body{
    background-color: rgb(116, 171, 216);
}

button[id="RestartButton"]{
    background-color: rgb(231, 217, 10);
    transition: all .35s;
    border-radius:10px;
    color:rgb(95, 95, 95);
    text-align: center;
    border: none;
    width:200px;
    font-size: 35px;
    height: 100px;
    font-weight: 350;
}

button[id="RestartButton"]:hover{
    background-color: rgb(179, 170, 56);
    color: rgb(226, 226, 226);
    font-size: 40px;
    font-weight: 400;
}





td[id="0a0"]{
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 6px 0px 0px 0px;
}

td[id="1a0"]{
    border-top: 2px solid;
}

td[id="2a0"]{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 6px 0px 0px;
}

td[id="3a0"]{
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 6px 0px 0px 0px;
}

td[id="4a0"]{
    border-top: 2px solid;
}

td[id="5a0"]{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 6px 0px 0px;
}

td[id="6a0"]{
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 6px 0px 0px 0px;
}

td[id="7a0"]{
    border-top: 2px solid;
}

td[id="8a0"]{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 6px 0px 0px;
}





td[id="7a0"]{
    border-top: 2px solid;
}

td[id="0a1"]{
    border-left: 2px solid;
}

td[id="2a1"]{
    border-right: 2px solid;
}

td[id="3a1"]{
    border-left: 2px solid;
}

td[id="5a1"]{
    border-right: 2px solid;
}

td[id="6a1"]{
    border-left: 2px solid;
}

td[id="8a1"]{
    border-right: 2px solid;
}





td[id="0a2"]{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0px 0px 0px 6px;
}

td[id="1a2"]{
    border-bottom: 2px solid;
}

td[id="2a2"]{
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 6px 0px;
}

td[id="3a2"]{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0px 0px 0px 6px;
}

td[id="4a2"]{
    border-bottom: 2px solid;
}

td[id="5a2"]{
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 6px 0px;
}

td[id="6a2"]{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0px 0px 0px 6px;
}

td[id="7a2"]{
    border-bottom: 2px solid;
}

td[id="8a2"]{
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 6px 0px;
}





td[id="0a3"]{
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 6px 0px 0px 0px;
}

td[id="1a3"]{
    border-top: 2px solid;
}

td[id="2a3"]{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 6px 0px 0px;
}

td[id="3a3"]{
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 6px 0px 0px 0px;
}

td[id="4a3"]{
    border-top: 2px solid;
}

td[id="5a3"]{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 6px 0px 0px;
}

td[id="6a3"]{
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 6px 0px 0px 0px;
}

td[id="7a3"]{
    border-top: 2px solid;
}

td[id="8a3"]{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 6px 0px 0px;
}





td[id="0a4"]{
    border-left: 2px solid;
}

td[id="2a4"]{
    border-right: 2px solid;
}

td[id="3a4"]{
    border-left: 2px solid;
}

td[id="5a4"]{
    border-right: 2px solid;
}

td[id="6a4"]{
    border-left: 2px solid;
}

td[id="8a4"]{
    border-right: 2px solid;
}





td[id="0a5"]{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0px 0px 0px 6px;
}

td[id="1a5"]{
    border-bottom: 2px solid;
}

td[id="2a5"]{
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 6px 0px;
}

td[id="3a5"]{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0px 0px 0px 6px;
}

td[id="4a5"]{
    border-bottom: 2px solid;
}

td[id="5a5"]{
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 6px 0px;
}

td[id="6a5"]{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0px 0px 0px 6px;
}

td[id="7a5"]{
    border-bottom: 2px solid;
}

td[id="8a5"]{
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 6px 0px;
}




td[id="0a6"]{
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 6px 0px 0px 0px;
}

td[id="1a6"]{
    border-top: 2px solid;
}

td[id="2a6"]{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 6px 0px 0px;
}

td[id="3a6"]{
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 6px 0px 0px 0px;
}

td[id="4a6"]{
    border-top: 2px solid;
}

td[id="5a6"]{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 6px 0px 0px;
}

td[id="6a6"]{
    border-top: 2px solid;
    border-left: 2px solid;
    border-radius: 6px 0px 0px 0px;
}

td[id="7a6"]{
    border-top: 2px solid;
}

td[id="8a6"]{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 6px 0px 0px;
}




td[id="0a7"]{
    border-left: 2px solid;
}

td[id="2a7"]{
    border-right: 2px solid;
}

td[id="3a7"]{
    border-left: 2px solid;
}

td[id="5a7"]{
    border-right: 2px solid;
}

td[id="6a7"]{
    border-left: 2px solid;
}

td[id="8a7"]{
    border-right: 2px solid;
}




td[id="0a8"]{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0px 0px 0px 6px;
}

td[id="1a8"]{
    border-bottom: 2px solid;
}

td[id="2a8"]{
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 6px 0px;
}

td[id="3a8"]{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0px 0px 0px 6px;
}

td[id="4a8"]{
    border-bottom: 2px solid;
}

td[id="5a8"]{
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 6px 0px;
}

td[id="6a8"]{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-radius: 0px 0px 0px 6px;
}

td[id="7a8"]{
    border-bottom: 2px solid;
}

td[id="8a8"]{
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 6px 0px;
}